.editor-wrapper button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100px;
  height: 30px;
  opacity: 0;
  transition: ease-in-out 0.3s opacity;
  z-index: 10;
}

.editor-wrapper:hover button {
  opacity: 1;
}
